header{
    font-size: larger;
    
}
img
{
    max-width: fit-content;
}
body{
    background-color: hwb(180 98% 0%);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

button{
    max-width: 10vw;
    width:max-content;
    border-radius: 10px;
    border-color: aqua;
}

#txtResults{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vw;
}

#FabUlIcon{
    align-self:center ;
    
    
}

