header{
    font-size: 2vw;
    
}
img
{
    max-width: 100%;
}
body{
    background-color: hsl(130, 32%, 93%);
    font-size: 1vw;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
select{
    background-color: hsl(130, 40%, 93%);
    border-radius: 5px;
    min-height: 2vh;
    height:4vh;
    min-height: 2vh;
    width: 25%;   
    font-size: 2vh; 
}
option
{
    background-color: hsl(130, 25%, 93%);
}
button{
    max-width: 10vw;
    height: 4vh;
    width: max-content;
    min-width: 70px;
    background-color: hsl(130, 32%, 83%);
    border-radius: 10px;
    border-color: hsl(130, 32%, 98%);
    box-shadow: 1px;
}
footer{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 90%;
    
}
#txtResults{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
}

#FabUlIcon{
    align-self:center;
}

